altgraph==0.17
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
attrs==19.3.0
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.0
click==7.1.2
colorama==0.4.3
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
distlib==0.3.1
Django==3.0.8
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.10
importlib-metadata==1.7.0
incremental==17.5.0
isort==4.3.21
itemadapter==0.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
lazy-object-proxy==1.4.3
lxml==4.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
nltk==3.5
numpy==1.19.0
pandas==1.0.5
parsel==1.6.0
pefile==2019.4.18
pipenv==2020.6.2
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pygame==1.9.6
PyHamcrest==2.0.2
PyInstaller==3.6
pylint==2.5.3
pyOpenSSL==19.1.0
PySimpleGUI==4.24.0
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
queuelib==1.5.0
scikit-learn==0.23.1
scipy==1.5.1
Scrapy==2.2.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.3.1
threadpoolctl==2.1.0
toml==0.10.1
Twisted==20.3.0
typed-ast==1.4.1
virtualenv==20.0.28
virtualenv-clone==0.5.4
w3lib==1.22.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
zope.interface==5.1.0
