{% extends "base.html" %}
{% block title %} lit Search {% endblock %}

{% block search_bar %}
<link rel="stylesheet" href="./static/styles/mainpage.css" >
<script src="../static/js/actions.js"></script>

<div id="bar-and-bttn">
  <img src="https://media.giphy.com/media/J2awouDsf23R2vo2p5/giphy.gif" width= 50px  height = 50px>
  <div class="logo">
    <h1>lit search</h1>
  </div>
  <div class="search">
    <input type="text" id="search-bar" autocomplete="on">
    <button id="search-bttn" onclick="getResults()">Search</button>
  </div>
</div>
<div id="s-results">
</div>

{% endblock %}


