#bar-and-bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  flex-direction: column;
  margin: 0;
  padding: 0px;
}
.search{
  margin: -20px;
}

.logo {
  margin-top: -60px;
}
#s-results {
  margin: -10px;
  margin-left: 5px;
}

img {
  padding-bottom: -100px;
  padding-right: 175px;
}

#web-name, a {
  display: inline;
}

